


.text h1 {
    text-align: center;
    font-size: 45px;
    color: #117A65;
}






.loading-example {
    margin: auto;
    border: 16px solid lightgray;
    border-radius: 50%;
    border-top: 16px solid #0087FF;
    border-bottom: 16px solid tomato;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    margin-top: 200px;
}


@-webkit-keyframes spin {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}


